* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: blue
}

header {
    background-image: url(images/banner.jpg);
    background-size: cover;
    width: 100%;
    height: 700px;
}

a {
    background-color: #3854F2;
    text-decoration: none;
    border-radius: 20px;
    border-style: hidden;
    height: 100px;
    text-align: center;
    width: 200px;
    font-family: 'Permanent Marker', cursive;
    color: whitesmoke;

}

a:hover {
    background-color: #F20F0F;
}

ul > li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0px 85px;
    font-weight: bold;
    font-size: xx-large;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'nav nav nav nav nav nav'
        'header header header header header header'
        'aside aside section section section section'
        'section2 section2 section3 section3 section4 section4'
        'footer footer footer footer footer footer';
    gap: 10px;
    background-color: #F20F0F;
    padding: 10px;
}

.item-1 {
    grid-area: nav;
}

.item-2 {
    grid-area: header;
}

.item-3 {
    grid-area: aside;
}

.item-4 {
    grid-area: section;
    text-align: center;
    padding: 10rem;
}

.item-5 {
    grid-area: section2;
}

.item-6 {
    grid-area: section3;
}

.item-7 {
    grid-area: section4;
    display: flex;
    justify-content: center;
}

.item-8 {
    grid-area: footer;
}

p .parrafo {
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    font-size: x-large;
}

p {
    color: whitesmoke;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    color: whitesmoke;
    font-size: xx-large;
}

